<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.study.an.all"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c86a3116a34b3ad998cee1ad77d2ea9"/>

        <activity
            android:name="com.study.an.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.study.an.TrueFalse.TrueFalseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.study.an.Expandable.MainActivity"
            ></activity>
        <activity android:name="com.study.an.TrueFalse.CheatActivity"
            />
        <activity
            android:name="com.study.an.CriminalIntent.CrimeListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.study.an.CriminalIntent.CrimeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.study.an.CriminalIntent.CrimeListActivity"/>
        </activity>
        <activity
            android:name="com.study.an.CriminalIntent.CrimeViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.study.an.MediaPlayer.HelloMoonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.study.an.WebList.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.study.an.WebList.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.study.an.ceshi.picture"/>
        <activity android:name="com.study.an.ceshi.Tomorrow"/>
        <activity android:name="com.study.an.location.locationActivity"/>
        <activity android:name="com.study.an.Volley.SimpleHttpRequestActivity"/>
        <activity android:name="com.study.an.Draw.DragAndDrawActivity"/>
        <activity android:name="com.study.an.RecyclerView.RecyclerActivity"/>
        <activity android:name="com.study.an.RecyclerView.StaggeredGridLayoutActivity"/>
    </application>

</manifest>
